.button-div{
  width: 100%;
}
.clear-btn{
  width: 50%;
  height: 20%;
  border: 1px solid;
  border-bottom: 0;
  margin: auto;
  display: block;
  float: left;
}

.save-btn{
  width: 50%;
  height: 20%;
  border: 1px solid;
  border-bottom: 0;
  margin: auto;
  display: block;
  float: right;
}
